
{{#datasets}}
#' {{{name}}} data
#'
#' Dataset {{{name}}} from \emph{BPS} 6th edition ({{{value}}}).
#'
#' @name {{{name}}}
#' @docType data
#' @usage data("{{{name}}}")
#' @format \Sexpr[results=rd]{bps6data:::doc_bps6_data("{{{name}}}") }
#' @references Moore, David S., William I. Notz, and Michael A. Fligner. 2011. \emph{The Basic Practice of Statistics}: 6th edition. New York: W. H. Freeman.
#' @source \url{ {{{url}}} }
NULL

{{/datasets}}


